# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\aareiza\OneDrive - ENDAVA\Desktop\Alejo Areiza\cursos\azure devops testing\DevopsBasics\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
